%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b
  = image_tag @product.image,height: 400
  %p hello world  this is very good hammer you can see bro

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
